<h1>Reset Password</h1>

<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Reset Your Password</h2>
  <form>
    <mat-form-field fxLayout="row">
      <input matInput type="text" placeholder="Username" />
    </mat-form-field>

    <mat-form-field fxLayout="row">
      <input
        matInput
        type="password"
        placeholder="Current/Temporary Password"
      />
    </mat-form-field>

    <mat-form-field fxLayout="row">
      <input matInput type="password" placeholder="New Password" />
    </mat-form-field>

    <mat-form-field fxLayout="row">
      <input matInput type="password" placeholder="Verify New Password" />
    </mat-form-field>

    <button (click)="reset()" mat-raised-button type="submit" color="accent">
      Reset
    </button>
    <button mat-raised-button color="warn">Send Email</button>

    <a fxLayout="row" class="hover">Forgot Username?</a>
  </form>
</div>
