<div class="form">
  <h2 fxLayout="column" fxLayoutAlign="space-around center">Form Title</h2>

  <form
    fxLayout="row wrap"
    fxLayoutGap="1%"
    fxLayoutAlign="space-around center"
  >
    <mat-form-field fxFlex="48" fxFlex.lt-md="48" fxFlex.lt-sm="100">
      <input matInput placeholder="First Name" />
    </mat-form-field>

    <mat-form-field fxFlex="48" fxFlex.lt-md="48" fxFlex.lt-sm="100">
      <input matInput placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field fxFlex="23" fxFlex.lt-md="23" fxFlex.lt-sm="100">
      <input matInput placeholder="Phone" />
    </mat-form-field>

    <mat-form-field fxFlex="73" fxFlex.lt-md="73" fxFlex.lt-sm="100">
      <input matInput placeholder="Email Address" />
    </mat-form-field>

    <mat-form-field fxFlex="73" fxFlex.lt-md="100" fxFlex.lt-sm="100">
      <input matInput placeholder="Address" />
    </mat-form-field>

    <mat-form-field fxFlex="31" fxFlex.lt-md="31" fxFlex.lt-sm="100">
      <input matInput placeholder="City" />
    </mat-form-field>

    <mat-form-field fxFlex="31" fxFlex.lt-md="31" fxFlex.lt-sm="48">
      <input matInput placeholder="State" />
    </mat-form-field>

    <mat-form-field fxFlex="30" fxFlex.lt-md="31" fxFlex.lt-sm="48">
      <input matInput placeholder="Postal Code" />
    </mat-form-field>
  </form>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-raised-button color="accent">Add</button>
  </div>
</div>
